*, *:before, *:after {
    box-sizing: border-box;
}
html {
    --gap: 0.5rem;
    min-width: 27em;
    font-size: 1.2rem;
    font-family: Roboto, Arial, sans-serif;
}
.container {
    padding: 0 var(--gap);
}
label {
    display: inline-block;
}
input {
    display: inline-block;
    margin-top: var(--gap);
    padding: 0.5em 0.8em;
    width: 100%;
}
.input-group {
    margin: var(--gap) 0;
}
footer {
    color: gray;
    font-size: 0.8em;
    text-align: center;
}
