html {
    min-width: 20rem;
    font-size: 1.2rem;
    font-family: Roboto, Arial, sans-serif;
}
h2 {
    font-size: 1.2em;
}
.container {
    padding: 0 0.5rem;
}
label {
    display: block;
}
input, select {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5em 0.8em;
    width: 95%;
}
.input-group {
    margin: 0.5rem 0;
}
footer {
    color: gray;
    font-size: 0.8em;
    text-align: center;
}
