#neuralyzerBtn {
    border: 1px solid #00b0b2;
    background-color: rgba(255,255,255, 0);
    height: 8px;
    width: 8px;
    padding: 0 0;
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 101;
}
@media print {
    #neuralyzerBtn { display: none }
}

#neuralyzerMsg {
    background: linear-gradient(#aeeaeb, white 20%);
    box-sizing: border-box;
    display: block;
    height: 100%;
    font-size: 30px;
    left: 0;
    padding: 15vh 20vw;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999999;
}
#neuralyzerMsg > img {
    display: block;
    margin: auto;
    width: 200px;
}
